body {
    background-color: #222;
}

.container {
    width: 700px;
    height: 665px;
    padding: 50px;
    font-size: 1.1rem; 
    font-family: sans-serif;
    text-align: center;
    margin: 30px auto;
    background-color: white;
    border-radius: 5px;
    color: #332;
}

input {
    font-size: 1.75rem; 
    letter-spacing: 1px;
    text-align: center; 
    padding: 7px; 
    font-weight: bold;
    color: #fff;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(217, 44, 13);
}

input::placeholder {
    color: white;
    opacity: 1;
}

img {
    width: 550px;
    height: auto;
}

p {
    font-size: 1.5rem;
}

h2 {
    padding: 0.5rem;
    margin: 25px auto;
    width: 96px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid tan;
    box-shadow: 3px 3px 3px brown;
    color: #533;
    border-radius: 5px;
    font-size: 3rem;
}